<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    .profile-pic {
        height: 200px;
        font-weight: bold;
        aspect-ratio: 1 / 1;
        border-radius: 10%;
        object-fit: cover;
        overflow: hidden;
      }
      .card-container{
        display: flex;
        justify-content: space-between;
      }
      .paragraph{
        width: 50%;
      }
  </style>
</head>
<body>
  <main class = "main-card-container">
    <div class="card-container">
      <div class="profile">
        <img
          class="profile-pic"
          src= {{movie.image}}
          alt=""
        />
        <h3>Vikram</h3>
        <p class = "paragraph">Members of a black ops team must track and eliminate a gang of masked murderers</p>
      </div>
      <div class="profile">
        <img
          class="profile-pic"
          src="https://m.media-amazon.com/images/M/MV5BMmJhYTYxMGEtNjQ5NS00MWZiLWEwN2ItYjJmMWE2YTU1YWYxXkEyXkFqcGdeQXVyMTEzNzg0Mjkx._V1_.jpg",

          alt=""
        />
        <h3>Vikram</h3>
        <p class = "paragraph">Members of a black ops team must track and eliminate a gang of masked murderers</p>
      </div>
      <div class="profile">
        <img
          class="profile-pic"
          src="https://m.media-amazon.com/images/M/MV5BMmJhYTYxMGEtNjQ5NS00MWZiLWEwN2ItYjJmMWE2YTU1YWYxXkEyXkFqcGdeQXVyMTEzNzg0Mjkx._V1_.jpg",

          alt=""
        />
        <h3>Vikram</h3>
        <p class = "paragraph">Members of a black ops team must track and eliminate a gang of masked murderers</p>
      </div>
      <div class="profile">
        <img
          class="profile-pic"
          src="https://m.media-amazon.com/images/M/MV5BMmJhYTYxMGEtNjQ5NS00MWZiLWEwN2ItYjJmMWE2YTU1YWYxXkEyXkFqcGdeQXVyMTEzNzg0Mjkx._V1_.jpg",

          alt=""
        />
        <h3>Vikram</h3>
        <p class = "paragraph">Members of a black ops team must track and eliminate a gang of masked murderers</p>
      </div>
  </main>

</body>
</html>
